@font-face {
  font-family: "Poppins";
  src: url("../assets/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/Poppins-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/SpaceMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: auto;
  min-height: 100vh;
  background-color: #041e42;
  color: white;
}

li {
  list-style-type: none;
}

a {
  font-family: "Space Mono", sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

h1 {
  font-family: "Space Mono", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 96px;
}

h2 {
  font-family: "Space Mono", sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 66px;
}

h3 {
  font-family: "Space Mono", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

h4 {
  font-family: "Space Mono", sans-serif;
  font-weight: normal;
  font-size: 14px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 27.5px;
  }
  h2 {
    line-height: 3.5rem;
    font-size: 48px;
  }
}
header {
  background-color: #2234ae;
  background-image: linear-gradient(0deg, #2234ae 0%, skyblue);
  display: flex;
}
header .headerContainer {
  height: 140px;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .headerContainer nav#site-navigation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .headerContainer nav#site-navigation .logoHeader {
  width: 50%;
  display: flex;
  justify-content: start;
  margin-left: 6%;
}
header .headerContainer nav#site-navigation .logoHeader a {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  align-items: center;
}
header .headerContainer nav#site-navigation .logoHeader a img {
  padding-left: 0;
  max-height: 125px;
}
header .headerContainer nav#site-navigation .headerMenusContainer {
  width: 50%;
}
header .headerContainer nav#site-navigation .headerMenusContainer ul#primary-menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 5%;
  padding-right: 6%;
}

footer#colophon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 80px;
  margin: auto;
}

div#footer-menu {
  display: flex;
}
div#footer-menu ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
div#footer-menu ul li {
  text-align: center;
}

main#primary .bubblesbgc {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2234ae;
  background-image: linear-gradient(0deg, #191714 0%, #2234ae 84%);
  overflow: hidden;
  position: relative;
}
main#primary .bubblesbgc h1 {
  max-width: 1440px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
main#primary .bubblesbgc span {
  bottom: -120px;
  position: absolute;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
}
main#primary .infosSkillsContainer {
  background-color: #191714;
  background-image: linear-gradient(0deg, black 0%, #191714 84%);
}
main#primary .infosSkillsContainer .infosSkills {
  position: relative;
  padding-top: 25px;
  margin: auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
main#primary .infosSkillsContainer .infosSkills .description {
  max-width: 800px;
  margin: 0 5%;
}
main#primary .infosSkillsContainer .infosSkills .description p {
  text-align: center;
}
main#primary .infosSkillsContainer .infosSkills .skills {
  width: 100vw;
}
main#primary .infosSkillsContainer .infosSkills .skills .swiper {
  width: 100vw;
  height: 450px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
main#primary .infosSkillsContainer .infosSkills .skills .swiper .swiper-wrapper {
  display: flex;
  flex-direction: row;
}
main#primary .infosSkillsContainer .infosSkills .skills .skillop {
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 3/2;
}
main#primary .infosSkillsContainer .infosSkills .skills .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
}
@media screen and (max-width: 1000px) {
  main#primary .infosSkillsContainer .infosSkills .skills .swiper-slide {
    width: 250px;
    height: 250px;
  }
}

/* Lightbox Container */
.lightbox {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.lightbox .lightflex {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Lightbox Content */
.lightboxContainer {
  position: relative;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  height: 80%;
  max-width: 800px;
  max-height: 800px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* Lightbox Close Button */
.lightboxClose {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

.lightbox-close:hover,
.lightbox-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.imgsSkills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.imgsSkills .scallop-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.imgsSkills .scallop-content .image-wrap {
  max-height: 250px;
  width: 50%;
  aspect-ratio: 1/1;
}
.imgsSkills .scallop-content .image-wrap img {
  max-height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.elevateBubbles {
  animation: bubbleAnimation 10s linear infinite;
}

.pop {
  animation: explode 1s forwards ease-out;
}

@keyframes bubbleAnimation {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1200%);
    opacity: 0;
  }
}
@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */